<div class="flex-container" ng-controller="ViewLoginCtrl">
    <form id="loginFormId" name="form" ng-submit="login()">
        <fieldset>
            <legend>Login</legend>
            <input type="text" name="username" id="username" placeholder="username" ng-model="data.username" required />
            <input type="password" name="password" id="password" placeholder="password" ng-model="data.password" required />
            <button type="submit">Login</button>
            <a href="#!/register">Register</a>
        </fieldset>
    </form>
</div>
