<!DOCTYPE html>
<html ng-app="expanseApp">
<head>
    <meta charset=”utf-8”>
    <meta lang=”en-us”>
    <title>Expanse Arcade</title>
    <link rel="stylesheet" href="../../css/app.css">
</head>
<body ng-controller="ArcadeController">
    <ul class="menu">
        <li><a href="../../index.html">login</a></li>
        <li><a href="#">arcade</a></li>
    </ul>

    <script src="../../lib/phaser/phaser.js"></script>
    <script src="../../js/gameengine/ArcadePerlin.js"></script>
    <script src="../../js/gameengine/ArcadeEntities.js"></script>
    <script src="../../js/gameengine/ArcadeScene.js"></script>
    <script src="../../lib/angular/angular.js"></script>
    <script src="../../lib/angular/angular-route.js"></script>
    <script src="./arcade.js"></script>
    <script src="../../js/service/UserService.js"></script>
    <script src="../../js/service/CommandService.js"></script>
    <script src="../../js/directive/CommandDirective.js"></script>
</body>
</html>