<!DOCTYPE html>
<html ng-app="expanseApp">
    <head>
        <meta charset=”utf-8”>
        <meta lang=”en-us”>
        <title>Infinite Terrain</title>
    </head>
    <body ng-controller="PlayController">
        <script src="../../lib/phaser/phaser.js"></script>
        <script src="../../lib/jquery/jquery.js"></script>
        <script src="../../lib/angular/angular.js"></script>
        <script src="../../js/gameengine/RemotePerlin.js"></script>
        <script src="../../js/gameengine/RemoteEntitities.js"></script>
        <script src="../../js/gameengine/RemoteScene.js"></script>

        <script src="./play.js"></script>
        <script src="../../js/service/UserService.js"></script>
        <script src="../../js/service/CartographService.js"></script>
        <script src="../../js/service/CommandService.js"></script>
    </body>
</html>